<div class="fs-search">
    <form action="" method="get" autocomplete="off">
        <input style="max-width:none;" class="fs-stxt" type="text" name="" placeholder="Nhập tên điện thoại, máy tính, phụ kiện... cần tìm" autocomplete="off" maxlength="50">
        <button type="submit"><i class="ficon f-search"></i></button>
        <div class="fs-sresult">
            <div class="fs-sremain">
                <ul>
                    <li>
                        <a href="" title="">
                            <p><img src="~/images/ex/prod.jpg" alt=""></p>
                            <div>
                                <h3>iPhone 7 New 64GB</h3>
                                <p>5.650.000 ₫</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            <p><img src="~/images/ex/prod.jpg" alt=""></p>
                            <div>
                                <h3>iPhone 7 New 64GB</h3>
                                <p>5.650.000 ₫</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            <p><img src="~/images/ex/prod.jpg" alt=""></p>
                            <div>
                                <h3>iPhone 7 New 64GB</h3>
                                <p>5.650.000 ₫</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            <p><img src="~/images/ex/prod.jpg" alt=""></p>
                            <div>
                                <h3>iPhone 7 New 64GB</h3>
                                <p>5.650.000 ₫</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            <p><img src="~/images/ex/prod.jpg" alt=""></p>
                            <div>
                                <h3>iPhone 7 New 64GB</h3>
                                <p>5.650.000 ₫</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
