@*@model FPTShop.News.Areas.Admin.Models.User.UserItemModel*@
@*@using Model.EF
@model User
<div class="pull-left image">
    <img src="@Model.ImageURL" class="img-circle" alt="@Model.FullName">
</div>
<div class="pull-left info">
    <p>@Model.FullName</p>
  
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
</div>*@
