.fs-caback {
    margin-bottom: 10px;
}
.fs-caback a{
    display: inline-block;
    position: relative;
    color: #337ab7;
    padding-left: 12px;
}
.fs-caback a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 7px;
    left: 0;
    border-style: solid;
    border-width: 1px 1px 0 0;
    height: 6px;
    width: 6px;
    transform: rotate(225deg);
}

.fs-cahd{
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 10px;
}
.fs-cahd span{
    color: #4a4a4a;
}

.fs-carow{
    margin: 0 -10px;
}
.fs-cacol1,
.fs-cacol2{
    float: left;
    padding: 0 10px;
    position: relative;
}
.fs-cacol1{
    width: 70%;
}
.fs-cacol2{
    width: 30%;
}
.fs-cari,
.fs-caul{
    background-color: #ffffff;
    border: solid 1px #e4e4e4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.fs-cali{
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
}
.fs-calimg{
    display: block;
    width: 100px;
    padding: 5px;
    float: left;
    text-align: center;
    background: #ffffff;
    border: 1px solid #e2e2e2;
}
.fs-calimg img{
    display: inline-block;
    max-width: 90px;
}

.fs-calif{
    margin-left: 120px;
}
.fs-califtop{
    display: table;
    width: 100%;
    position: relative;
    padding-right: 30px;
    margin-bottom: 10px;
}
.fs-calif-del{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #b8b8b8;
}
.fs-calif-l1,
.fs-calif-l2,
.fs-calif-l3{
    display: table-cell;
    vertical-align: top;
}
.fs-calif-l1{
    padding-right: 10px;
}
.fs-calif-l2{
    width: 150px;
}
.fs-calif-l3{
    width: 94px;
}
.fs-califname {
    margin-bottom: 10px;
}
.fs-califname a{
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
}
.fs-califcolor{
    margin-bottom: 15px;
}
.fs-califcolor>li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 5px 0;
}
.fs-califcolor>li input{
    display: none;
}
.fs-califcolor>li span{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: #ffffff;
    border: solid 1px transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fs-califcolor>li span i{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1px;
    left: 1px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fs-califcolor>li input:checked ~ span{
    border: solid 1px #757575;
}
.fs-calif-p1{
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 3px;
}
.fs-calif-p2{
    font-size: 13px;
    text-decoration: line-through;
    color: #898989;
    margin-bottom: 5px;
}
.fs-calif-p3{
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.fs-calif-p3 span{
    display: inline-block;
    height: 21px;
    line-height: 21px;
    padding: 0 5px;
    font-size: 12px;
    color: #ff2d2d;
    text-align: center;
    background-color: #fce5e5;
    border: solid 1px #ffc6c6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.fs-califsl{
    display: table;
    width: 100%;
    height: 28px;
    background-color: #ffffff;
    border: solid 1px #dfdfdf;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.fs-califsl span{
    display: table-cell;
    width: 28px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    color: #828282;
    background-color: #f7f7f7;
}
.fs-califsl span input{
    height: 28px;
    width: 38px;
    border: 0;
    font-size: 13px;
    color: #565656;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    text-align: center;
    background: #ffffff;
}
.cs-od-prnum{
    font-size: 22px;
    color: #f30808;
}

.fs-califkm{
    padding: 10px 15px;
    line-height: 26px;
    background-color: #f9fcff;
    border: 1px dashed #a5c8e5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.fs-califkmul{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}
.fs-califkmul li{
    position: relative;
    padding-left: 15px;
}
.fs-califkmul li:before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: #b3b3b3;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fs-califkmch li input{
    display: none;
}
.fs-califkmch li span{
    display: block;
    position: relative;
    padding-left: 25px;
}
.fs-califkmch li span:before{
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #ffffff;
    border: solid 1px #acacac;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.fs-califkmch li input:checked ~ span:before{
    background-color: #ffffff;
    border: solid 4px #4a90e2;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


.fs-cari{
    margin-bottom: 15px;
}
.fs-carprice {
    padding: 10px 0;
}
.fs-carprice li{
    display: table;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
}
.fs-carprice li:last-child{
    margin-bottom: 0;
}
.fs-carprice li label{
    display: table-cell;
    vertical-align: top;
    color: #4a4a4a;
}
.fs-carprice li strong{
    display: table-cell;
    vertical-align: top;
    width: 120px;
    text-align: right;
}
.fs-carprice1{
    color: #2e2e2e;
}
.fs-carprice2{
    color: #6f6f6f;
}
.fs-carprice li.fs-carpriceli {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}
.fs-carprice li.fs-carpriceli label{
    font-size: 18px;
    font-weight: bold;
}
.fs-carprice li.fs-carpriceli strong{
    font-size: 18px;
    color: #d0021b;
}

.fs-cacokm-tit{
    font-size: 16px;
    color: #494949;
    margin-bottom: 10px;
}
.fs-carkbox{
    padding: 15px;
}
.fs-carkmfr{
    position: relative;
    margin-bottom: 10px;
}
.fs-carkmip{
    width: 100%;
    height: 35px;
    font-size: 13px;
    padding: 6px 80px 6px 10px;
    background-color: #ffffff;
    border: solid 1px #cecece;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.22);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.22);
}
.fs-carkmbtn{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 35px;
    line-height: 34px;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color: #309107;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.fs-carnoti1{
    width: 100%;
    text-align: center;
    padding: 7px 10px;
    color: #d0021b;
    background-color: #fff7f7;
    border: solid 1px #e6d1d1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.fs-cabtnod{
    margin-bottom: 10px;
    width: 100%;
    height: 46px;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #d0021b;
    border: solid 1px #d0021b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.fs-carnoti2-1{
    color: #2b770a;
    padding: 5px 0 10px;
}
.fs-carnoti2-2{
    position: relative;
    padding: 2px 20px 0 10px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #4d4d4d;
    background-color: #ffffff;
    border: dashed 1px #cacaca;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.fs-carnoti2-2 span{
    position: absolute;
    top: 50%;
    right: 8px;
    color: #b8b8b8;
    cursor: pointer;
    font-size: 13px;
    margin-top: -9px;
}
.fs-carnoti2-3{
    font-size: 12px;
    line-height: 1.33;
    color: #232323;
}