body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}
a, a:hover, a:focus, a:active{
    outline: none;
    text-decoration: none;
    color: #000000;
}

.mf-body{
    max-width: 640px;
    width: 100%;
    margin: auto;
    min-height: 380px;
    position: relative;
    overflow: hidden;
}
.mf-ico{
    display: inline-block;
    background-image: url("../images/icon.svg");
    background-repeat: no-repeat;
}

.mf-mnleft{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 100%;
    overflow: auto;
    background: #ffffff;
    z-index: 9999;
    display: block;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateX(-320px);
    -moz-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    -o-transform: translateX(-320px);
    transform: translateX(-320px);
}
.mf-mnleft.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.mf-overlay{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9998;
    background: rgba(0,0,0,0.6);
}
.mf-mnlmain{
    position: relative;
    padding: 15px;
}
.mf-lgleft{
    width: 100px;
    height: 30px;
    background-position: 0 -34px;
    margin-bottom: 5px;
}
.mf-mnclose{
    position: absolute;
    top: 18px;
    right: 15px;
    color: #d0011b;
    font-size: 18px;
    font-weight: bold;
}
.mf-mnleft ul li a{
    display: block;
    padding: 8px 0;
}
.mf-mnleft ul li.active a{
    color: #d0011b;
}
.mf-header{
    background: #2a2a2a;
}
.mf-hdtop{
    height: 48px;
    position: relative;
}
.mf-hdimn{
    position: absolute;
    top: 16px;
    left: 11px;
    width: 18px;
    height: 14px;
    background-position: -4px -81px;
}
.mf-hdlogo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 78px;
    height: 28px;
    background-position: 0 0;
}
.mf-hdcart{
    float: right;
    position: relative;
    display: inline-block;
    margin: 17px 17px 0 0;
}
.mf-hdcart .mf-ico{
    width: 21px;
    height: 18px;
    background-position: -33px -81px;
}
.mf-hdcart-sl{
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 15px;
    height: 15px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    background: #f37226;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.mf-hdcall{
    position: absolute;
    top: 10px;
    right: 49px;
}
.mf-hdcall span{
    display: block;
    font-size: 11px;
    letter-spacing: 0.4px;
    color: #c8c8c8;
}
.mf-hdcall strong{
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #f37226;
    line-height: 1;
}
.mf-isearch{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 18px;
    height: 18px;
    background-position: -150px -81px;
}
.mf-search{
    position: relative;
    padding: 0 8px 11px;
}
.mf-search:before{
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 16px;
    background: url("../images/icon.svg") no-repeat -68px -81px;
}
.mf-frsearch{
    width: 100%;
    height: 32px;
    padding: 5px 80px 5px 32px;
    border: none;
    background: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mf-frs-clr{
    display: none;
    position: absolute;
    top: 2px;
    right: 51px;
    border: none;
    height: 28px;
    width: 32px;
    line-height: 26px;
    text-align: center;
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
    color: #6f6f6f;
    outline: none;
}
.mf-frs-btn{
    display: none;
    position: absolute;
    top: 0;
    right: 8px;
    height: 32px;
    line-height: 34px;
    text-align: center;
    padding: 0 10px;
    border: none;
    background: #d60000;
    color: #ffffff;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.mf-sarm-tit{
    padding: 15px 15px 0 15px;
    font-size: 12px;
    font-weight: bold;
    color: #919191;
}
.mf-ismost{
    position: relative;
    top: 2px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-position: -97px -82px;
}
.mf-sarm-most{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 999;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.15);
}
.mf-sarm-most ul{
    padding: 5px 15px;
}
.mf-sarm-most ul li a{
    display: block;
    padding: 8px 0;
    font-size: 14px;
    color: #4a4a4a;
}

.mf-sarm-rs{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 999;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.15);
}

.mf-sarm-rs li a{
    display: table;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    color: #4a4a4a;
    border-bottom: 1px solid #e5e5e5;
}
.mf-sarimg{
    display: table-cell;
    vertical-align: top;
    width: 51px;
    text-align: center;
}
.mf-sarimg img{
    width: 50px;
}
.mf-sarif{
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}
.mf-sarif h3{
    font-size: 14px;
    color: #140d0d;
    line-height: 1.2;
    margin-bottom: 3px;
}
.mf-sarif p{
    font-size: 12px;
    color: #858585;
}
.mf-sarif p span{
    color: #d0011b;
    padding-right: 10px;
}

.active .mf-frs-clr,
.active .mf-frs-btn{
    display: inline-block;
}

.mf-menumain{
    padding: 0 2px 7px 2px;
}
.mf-menumain .swiper-slide{
    width: 70px;
    height: 48px;
    text-align: center;
}
.mf-menumain .swiper-slide span{
    display: block;
    font-size: 12px;
    color: #ececec;
    text-align: center;
    letter-spacing: 0.4px;
}
.mf-menumain .swiper-slide i{
    margin-bottom: 3px;
    height: 24px;
    width: 24px;
}
.mf-ikm{
    background-position: -7px -124px;
}
.mf-imb{
    background-position: -36px -124px;
}
.mf-iap{
    background-position: -65px -124px;
}
.mf-ila{
    background-position: -98px -124px;
}
.mf-ipk{
    background-position: -132px -124px;
}
.mf-ita{
    background-position: -165px -124px;
}
.mf-isi{
    background-position: -198px -124px;
}
.mf-ixh{
    background-position: -228px -124px;
}
.mf-itt{
    background-position: -256px -124px;
}
.mf-ihd{
    background-position: -286px -124px;
}
.mf-iff{
    background-position: -319px -124px;
}
.mf-iss{
    width: 70px !important;
    height: 24px !important;
    background-position: 0 -310px;
}

.mfarow-l,
.mfarow{
    display: inline-block;
}
.mfarow:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: 3px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    height: 6px;
    width: 6px;
    transform: rotate(135deg);
}

.mfarow-l:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
    left: 2px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
}
/*end header*/


/*footer*/
.mf-footer{
    background: #fff;
}
.mghrft{
    height: 8px;
    margin: 0;
    border-top: 1px solid #ebebeb;
    background: #f5f5f5;
}
.mf-cares {
    display: table;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}
.mf-cares li{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    text-align: center;
}
.mf-cares li:first-child{
    border-right: 1px solid #ebebeb;
}
.mf-cares li a{
    display: block;
    padding: 12px 0;
}
.mf-cares li p{
    font-size: 14px;
    color: #4a4a4a;
}
.mf-cares li h3{
    font-size: 20px;
    font-weight: bold;
    color: #d0011b;
}
.mf-cares li h3:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/icon.svg") no-repeat 0 -174px;
}

.mf-ftif{
    display: table;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}
.mf-ftif li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50%;
}
.mf-ftif li:first-child{
    border-right: 1px solid #ebebeb;
}
.mf-ftif li a{
    display: block;
    font-size: 13px;
    color: #4990e2;
    padding: 14px 0;
}
.mf-ftif-ex{
    display: none;
}
.mf-ftif-ex ul li a{
    font-size: 13px;
    display: block;
    color: #4990e2;
    padding: 8px;
    border-bottom: 1px solid #e6e6e6;
}
.mf-backtop{
    display: inline-block;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    line-height: 28px;
    text-align: center;
    background: rgba(0,0,0,0.3);
}
.mf-backtop:before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 13px;
    background: url("../images/icon.svg") no-repeat -126px -84px;
}