
<div class="fs-news-rboxs">
    <h2 class="fs-news-rhd">Sản phẩm mới</h2>
    <div class="fs-news-rmain">
        <ul class="fs-news-rprod">
            <li class="clearfix">
                <a href="" title="" class="fs-news-rprimg"><img src="/images/news/prod.png" alt=""></a>
                <div class="fs-news-rprif">
                    <h3><a class="fs-news-rprname" href="" title="">Apple iPhone 8</a></h3>
                    <p class="fs-news-rprlb">Tin đồn</p>
                    <p><a class="fs-news-rprbv" href="" title="">23 bài viết</a></p>
                </div>
            </li>
            <!--1-->
            <li class="clearfix">
                <a href="" title="" class="fs-news-rprimg"><img src="/images/news/prod.png" alt=""></a>
                <div class="fs-news-rprif">
                    <h3><a class="fs-news-rprname" href="" title="">Apple iPhone 8</a></h3>
                    <p class="fs-news-rprlb">Tin đồn</p>
                    <p><a class="fs-news-rprbv" href="" title="">23 bài viết</a></p>
                </div>
            </li>
            <!--1-->
            <li class="clearfix">
                <a href="" title="" class="fs-news-rprimg"><img src="/images/news/prod.png" alt=""></a>
                <div class="fs-news-rprif">
                    <h3><a class="fs-news-rprname" href="" title="">Apple iPhone 8</a></h3>
                    <p class="fs-news-rprlb">Tin đồn</p>
                    <p><a class="fs-news-rprbv" href="" title="">23 bài viết</a></p>
                </div>
            </li>
            <!--1-->
            <li class="clearfix">
                <a href="" title="" class="fs-news-rprimg"><img src="/images/news/prod.png" alt=""></a>
                <div class="fs-news-rprif">
                    <h3><a class="fs-news-rprname" href="" title="">Apple iPhone 8</a></h3>
                    <p class="fs-news-rprlb">Tin đồn</p>
                    <p><a class="fs-news-rprbv" href="" title="">23 bài viết</a></p>
                </div>
            </li>
            <!--1-->
            <li class="clearfix">
                <a href="" title="" class="fs-news-rprimg"><img src="/images/news/prod.png" alt=""></a>
                <div class="fs-news-rprif">
                    <h3><a class="fs-news-rprname" href="" title="">Apple iPhone 8</a></h3>
                    <p class="fs-news-rprlb">Tin đồn</p>
                    <p><a class="fs-news-rprbv" href="" title="">23 bài viết</a></p>
                </div>
            </li>
            <!--1-->
        </ul>
    </div>
</div>

